<div class="col-md-8 col-md-offset-2" >
	<form class="form-horizontal"
	      ng-submit="vm.save()"
	      novalidate >
		<div class="panel panel-default" >
			<div class="panel-heading" >

				{{vm.mode}}

				<div class="pull-right" >
					<button class="btn btn-primary btn-sm"
					        ladda="contacts.isSaving"
					        type="submit" >
						<span ng-if="vm.mode == 'Edit'" >Save</span >
						<span ng-if="vm.mode == 'Create'" >Create</span >
					</button >

					<button class="btn btn-danger btn-sm"
					        ladda="contacts.isDeleting"
					        ng-if="vm.mode == 'Edit'"
					        ng-click="vm.remove()" >Delete
					</button >
				</div >
				<div class="clearfix" ></div >

			</div >
			<div class="panel-body" >

				<ng-include src="'views/form.html'" ></ng-include >

			</div >
		</div >
	</form >
</div >
